.profile {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sp {
      flex-direction: column;
    }
  }

  &__img {
    @include sp {
      width: 300px;
      height: 186px;
    }
  }

  &__content {
    text-align: center;

    @include sp {
      margin-top: 50px;
    }
  }

  &__contentTitle {
    @include headTitle;
  }

  &__batsu {
    font-size: 7em;
    color: $gray;
    line-height: 0.5;
  }

  &__contentText {
    max-width: 380px;
    margin-top: 40px;
    font-size: 1.6em;
    text-align: left;
    color: $text-color;

    @include sp {
      padding: 0 10px;
    }
  }
}
