section.mv
  h1.mv__title
    img(src= "./images/title_img.png" alt="COROBI NANA PORTFOLIO SITE")
  ul.mv__list
    li.mv__listItem
      a(href="#")
        img(src="./images/edu_img.png", alt="エデュプラスのWEBサイト")
    li.mv__listItem
      a(href="#")
        img(src="./images/yoga_img.png", alt="ヨガのWEBサイト")
    li.mv__listItem
      a(href="#")
        img(src="./images/tutuji_img.png", alt="つつじ幼稚園のWEBサイト")
