section.mv
  h1.mv__title
    img(src= "./images/title_img.png" alt="COROBI NANA PORTFOLIO SITE")
  ul.mv__list
    li
      a(href="works/edu/index.html")
        img.mv__listItem(src="./images/edu_img.png", alt="エデュプラスのWEBサイト")
    li
      a(href="works/yoga/index.html")
        img.mv__listItem(src="./images/yoga_img.png", alt="ヨガのWEBサイト")
    li
      a(href="works/tutuji/index.html")
        img.mv__listItem(src="./images/tutuji_img.png", alt="つつじ幼稚園のWEBサイト")
