section.profile
  .profile__wrap
    img(src="./images/me_img.png", alt="ご飯を食べるcorobi nana")
    .profile__content
      p.profile__contentTitle FRONTEND ENGINEER
      .profile__batsu ×
      p.profile__contentTitle WEB DESIGNER
      p.profile__contentText 都内でフロントエンドエンジニア兼WEBデザイナーとして働いています。
