section.skills
  h2.title SKILLS
  ul.circle
    li.circle__listItem
      img.circle__listImg(src="./images/ps_img.png", alt="Photoshop")
    li.circle__listItem
      img.circle__listImg(src="./images/xd_img.png", alt="XD")
    li.circle__listItem
      img.circle__listImg(src="./images/html_img.png", alt="HTML")
    li.circle__listItem
      img.circle__listImg(src="./images/css_img.png", alt="CSS")
    li.circle__listItem
      img.circle__listImg(src="./images/sass_img.png", alt="SASS")
    li.circle__listItem
      img.circle__listImg(src="./images/js_img.png", alt="JS")
