section.skills
  h2.title
  ul.circle__list
    li.circle__listItem
      img(src="./images/ps_img.png", alt="Photoshop")
    li.circle__listItem
      img(src="./images/xd_img.png", alt="Photoshop")
    li.circle__listItem
      img(src="./images/html_img.png", alt="Photoshop")
    li.circle__listItem
      img(src="./images/css_img.png", alt="Photoshop")
    li.circle__listItem
      img(src="./images/sass_img.png", alt="Photoshop")
    li.circle__listItem
      img(src="./images/js_img.png", alt="Photoshop")
