section.strength
  h2.title SKILLS
  p.strength__text
    | Gallup社が運営するストレングスファインダー（強み分析テスト）
    br
    | 共感性や新しいアイディアを考えることが強みです。
    br
    | お客様やユーザーのニーズを汲み取り、一緒によりよいWEBサイトを制作をすることが可能です。
    br
    | お気軽にご相談ください

  ul.circle
    li.circle__listItem
      img.circle__listImg(src="./images/kyokan_img.png", alt="共感性")
    li.circle__listItem
      img.circle__listImg(src="./images/naisei_img.png", alt="内省")
    li.circle__listItem
      img.circle__listImg(src="./images/denkyu_img.png", alt="着想")
    li.circle__listItem
      img.circle__listImg(src="./images/positive_img.png", alt="ポジティブ")
    li.circle__listItem
      img.circle__listImg(src="./images/seityo_img.png", alt="成長促進")
