doctype
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:" content="http://corobi.net/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="corobi nana")
    meta(property="og:description" content="フロントエンジニア兼webデザイナーのころびのポートフォリオサイト")
    meta(property="og:site_name" content="corobi nana")
    meta(property="og:image" content="./images/corobi_sns.jpg")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap")
    title corobi nana|portfolio site
  body
    include ./section/_mv.pug
    .bgWrap
      .contentInner
        include ./section/_profile.pug
        include ./section/_skills.pug
        include ./section/_strength.pug
        include ./section/_blog.pug
