doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title corobi nana|portfolio site
  body
    include sub/sub.pug
    h2 aaaa
